<!DOCTYPE html>
<html lang="en">
<head>
	<title>iBid</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<script>
$(document).ready(function(){
    $("#show").click(function(){
        $("#edit, #submit, #cancel").show();
         $("#editContent, #show, #del").hide();
    });
    $("#cancel").click(function(){
    $("#edit, #submit, #cancel").hide();
    $("#editContent, #show, #del").show();
    });
});
</script>

	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                     
      </button>
			<a class="navbar-brand" href="/">iBid <span class="labelMini">Powered by: SCIC - MIS</span></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<% if(!currentUser){ %>
				<li><a href="/login">Log In</a></li>
				<li><a href="/register">Sign Up</a></li>
				<% } else { %>
				<li><a href="#"><%= currentUser.name %> <%= currentUser.lname %></a></li>
				<li><a href="#">MyBids</a></li>
				<li><a href="/logout">Log Out</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>