<% include ./partials/header %>
<div>
<h1>LOG IN</h1>
<h4>to continue to iBid</h4>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="employee number">
	<input type="password" name="password" placeholder="password">
	<button>LOG IN</button>
</form>
</div>

<% include ./partials/footer %>