<% include ./partials/header %>
<div>
<h1>Sign Up!</h1>
<h4>start bidding</h4>

<form action="/register" method="POST">
	<input type="text" name="name" placeholder="first name">
	<input type="text" name="lname" placeholder="last name">
	<input type="text" name="username" placeholder="employee number">
	<input type="password" name="password" placeholder="password">
	<button>CREATE ACCOUNT</button>
</form>
</div>
<% include ./partials/footer %>