body {
  font: 1.25em Montserrat, sans-serif;
}

img:hover {
  opacity: 0.7;
}

.labelMini {
  font-size: 0.5em;
}

.divFlexWrap {
  display: flex;
  flex-wrap: wrap;
}
.h1TextCenter {
  text-align: center;
}

.divFormWidthMargin {
  width: 35%;
  margin: 25px auto;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

.indexItem {
  height: 15% !important;
}

.bgFooter {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #e7e7e7;
}

#disclaimerCollapse li {
  background: #eeeeee;
  border: none;
}

#submit {
   display: none;
}

#cancel {
   display: none;
}

#edit {
  display: none;
}

textarea {
   resize: none;
}

pre {
  font: 1em Montserrat, sans-serif;
  overflow:hidden; 
  background-color:white; 
  border:none;
}

@media only screen and (max-width: 600px) {
    .divFormWidthMargin {
  width: 47%;
  }
}

@media only screen and (max-width: 768px) {
  .divFormWidthMargin {
  width: 60%;
  }
}

.navbar-inverse{
  background-color: #303030;
}

::selection {
  background-color: #7dba03;
}

.col-md-3 a, .col-sm-6 a {
  text-decoration: none;
  color: #000000;
}